{% extends 'admin.html.twig' %}

{% block admin %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Invités</h1>
        <a href="{{ path('admin_user_add') }}" class="btn btn-primary">Ajouter</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>E-Mail</th>
                <th>Statut</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr class="align-middle">
                    <td>{{ user.name }}</td>
                    <td>{{ user.description ? user.description|excerpt(50) : '_' }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <span class="badge {{ user.active ? 'bg-success' : 'bg-danger' }}">
                            {{ user.active ? 'Actif' : 'Bloqué' }}
                        </span>
                    </td>
                    <td>
                        <span class="badge {{ user.admin ? 'bg-danger' : 'bg-primary' }}">
                            {{ user.admin ? 'Administraeur': 'Invité' }}
                        </span>
                    </td>
                    <td class="d-flex gap-2">
                        <a href="{{ path('admin_user_update', {user: user.id}) }}" class="btn btn-primary">Editer</a>

                        <form action="{{ path('admin_user_toggleAccess', {user: user.id})  }}" method="post">
                            <input type="hidden" name="_method" value="PATCH">

                            <input type="hidden" name="_token" value="{{ csrf_token('toggle_access' ~ user.id) }}">

                            <button type="submit" class="btn btn-warning">
                                {{ user.active ? 'Bloquer' : 'Débloquer' }}
                            </button>
                        </form>

                        <form action="{{ path('admin_user_delete', {user: user.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">

                            <input type="hidden" name="_token" value="{{ csrf_token('delete_user' ~ user.id) }}">

                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="col-12 d-flex justify-content-center mt-4">
        {% include '_components/pagination.html.twig' with {
            pager: users,
            route: 'admin_user_index',
            route_params: {},
            isCompact: true
        } %}
    </div>
{% endblock %}
