{% extends 'admin.html.twig' %}

{% block admin %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Medias</h1>
        <a href="{{ path('admin_media_add') }}" class="btn btn-primary">Ajouter</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Artiste</th>
                    <th>Album</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for media in medias %}
                <tr class="align-middle">
                    <td><img src="{{ asset(media.path) }}" width="75"  alt=""/></td>
                    <td>{{ media.title }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                        {% if media.user %}
                            {{ media.user.name }}

                            {% if not media.user.active %}
                                <span class="badge bg-danger">Bloqué</span>
                            {% endif %}
                        {% else %}
                            Utilisateur supprimé
                        {% endif %}
                        </td>
                        <td>{{ media.album.name ?? '' }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('admin_media_delete', {id: media.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="col-12 d-flex justify-content-center mt-4">
        {% include '_components/pagination.html.twig' with {
            pager: medias,
            route: 'admin_media_index',
            route_params: {},
            isCompact: true
        } %}
    </div>
{% endblock %}
