{% if pager.nbPages > 1 %}
    <nav aria-label="Pagination">
        <ul class="pagination">

            {# Previous button #}
            <li class="page-item {{ not pager.hasPreviousPage ? 'disabled' }}">
                <a class="page-link"
                   href="{{ pager.hasPreviousPage ? path(route, route_params|merge({ (page_param): pager.previousPage })) : '#' }}">
                    &laquo;
                </a>
            </li>

            {# Page numbers #}
            {% for p in 1..pager.nbPages %}
                <li class="page-item {{ p == pager.currentPage ? 'active' }}">
                    <a class="page-link"
                       href="{{ path(route, route_params|merge({ (page_param): p })) }}">
                        {{ p }}
                    </a>
                </li>
            {% endfor %}

            {# Next button #}
            <li class="page-item {{ not pager.hasNextPage ? 'disabled' }}">
                <a class="page-link"
                   href="{{ pager.hasNextPage ? path(route, route_params|merge({ (page_param): pager.nextPage })) : '#' }}">
                    &raquo;
                </a>
            </li>

        </ul>
    </nav>
{% endif %}
